{% extends "_layout.html" %}
{% block title %}
Upload Product
{% endblock %}
{% block header %}

{% endblock %}
{% block content %}

<div class="container-fluid">
  <div class="container">
    <h2>Product Details</h2>
    <form action="{{ url_for('images.create') }}" method="POST" enctype="multipart/form-data" class="form-horizontal">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}" /><br>

      <div class="row" style="margin:10px">
        <label class="col-md-4 control-label" for="product_name">PRODUCT NAME</label>
        <div class="col-md-4">
          <input id="product_name" name="name" placeholder="PRODUCT NAME" class="form-control input-md" required=""
            type="text">
        </div>
      </div>

      <div class="row" style="margin:10px">
        <label class="col-md-4 control-label" for="product_description">PRODUCT DESCRIPTION</label>
        <div class="col-md-4">
          <input id="product_description" name="description" placeholder="PRODUCT DESCRIPTION"
            class="form-control input-md" required="" type="text">
        </div>
      </div>

      <div class="row" style="margin:10px">
        <label class="col-md-4 control-label" for="product_category">PRODUCT CATEGORY</label>
        <div class="col-md-4">
          <input id="product_category" name="category" placeholder="PRODUCT CATEGORY" class="form-control input-md"
            required="" type="text">
        </div>
      </div>


      <div class="row" style="margin:10px">
        <label class="col-md-4 control-label" for="price">PRICE</label>
        <div class="col-md-4">
          <input id="price" name="price" placeholder="PRICE" class="form-control input-md" required="" type="text">
        </div>
      </div>

      <div class="row" style="margin:10px">
        <label class="col-md-4 control-label" for="product_url">PRODUCT URL http://wwww....</label>
        <div class="col-md-4">
          <input id="product_url" name="product_url" placeholder="PRODUCT_URL" class="form-control input-md" required=""
            type="text">
        </div>
      </div>
      <div class="row" style="margin:10px">
        <label class="col-md-4 control-label" for="concept">CONCEPT</label>
        <div class="col-md-4">
          <input id="concept" name="concept" placeholder="CONCEPT" class="form-control input-md" required=""
            type="text">
        </div>
      </div>

      <div class="row" style="margin:10px">
        <label class="col-md-4 control-label" for="clarifai_id">ENTER MACHINE LEARNING ID</label>
        <div class="col-md-4">
          <input id="clarifai_id" name="clarifai_id" placeholder="CLARIFAI_ID" class="form-control input-md" required=""
            type="text">
        </div>
      </div>


  </div>

  <div class="container">
    <h2>Image Upload</h2>


    <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <!-- image-preview-filename input [CUT FROM HERE]-->
      <div class="input-group image-preview">
        <input type="text" class="form-control image-preview-filename" disabled="disabled">
        <!-- don't give a name === doesn't send on POST/GET -->
        <span class="input-group-btn">
          <!-- image-preview-clear button -->
          <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
            <span class="glyphicon glyphicon-remove"></span> Clear
          </button>
          <!-- image-preview-input -->
          <div class="btn btn-default image-preview-input">
            <span class="glyphicon glyphicon-folder-open"></span>
            <span class="image-preview-input-title">Browse</span>
            <input type="file" accept="image/png, image/jpeg, image/gif" name="user_file" />
            <!-- rename it -->
          </div>
        </span>
        <button class="btn btn-primary" type="submit">Upload</button>
      </div><!-- /input-group image-preview [TO HERE]-->
    </div>
  </div>

</div>
</div>
</form>
</div>
<script>
  $(document).on('click', '#close-preview', function () {
    $('.image-preview').popover('hide');
    // Hover befor close the preview
    $('.image-preview').hover(
      function () {
        $('.image-preview').popover('show');
      },
      function () {
        $('.image-preview').popover('hide');
      }
    );
  });

  $(function () {
    // Create the close button
    var closebtn = $('<button/>', {
      type: "button",
      text: 'x',
      id: 'close-preview',
      style: 'font-size: initial;',
    });
    closebtn.attr("class", "close pull-right");
    // Set the popover default content
    $('.image-preview').popover({
      trigger: 'manual',
      html: true,
      title: "<strong>Preview</strong>" + $(closebtn)[0].outerHTML,
      content: "There's no image",
      placement: 'bottom'
    });
    // Clear event
    $('.image-preview-clear').click(function () {
      $('.image-preview').attr("data-content", "").popover('hide');
      $('.image-preview-filename').val("");
      $('.image-preview-clear').hide();
      $('.image-preview-input input:file').val("");
      $(".image-preview-input-title").text("Browse");
    });
    // Create the preview image
    $(".image-preview-input input:file").change(function () {
      var img = $('<img/>', {
        id: 'dynamic',
        width: 250,
        height: 200
      });
      var file = this.files[0];
      var reader = new FileReader();
      // Set preview image into the popover data-content
      reader.onload = function (e) {
        $(".image-preview-input-title").text("Change");
        $(".image-preview-clear").show();
        $(".image-preview-filename").val(file.name);
        img.attr('src', e.target.result);
        $(".image-preview").attr("data-content", $(img)[0].outerHTML).popover("show");
      }
      reader.readAsDataURL(file);
    });
  });
</script>
{% endblock %}