*/

#mainNav{
    min-height:56px;
    background-color:rgb(255, 255, 255)
}
#mainNav .navbar-toggler{
    font-size:80%;
    padding:.75rem;
    color:#64a19d;
    border:1px solid #64a19d
}
#mainNav .navbar-toggler:focus{
    outline:0
}
#mainNav .navbar-brand{
    color:#161616;
    font-weight:700;
    padding:.9rem 0
}
#mainNav .navbar-nav .nav-item:hover{
    color:fade(black);
    outline:0;
    background-color: grey
}
#mainNav .navbar-nav .nav-item:active,#mainNav .navbar-nav .nav-item:focus{
    outline:0;
    background-color:black
}
@media (min-width:992px){
    #mainNav{
        padding-top:0;
        padding-bottom:0;
        border-bottom:none;
        background-color:white;
        -webkit-transition:background-color .3s ease-in-out;
        transition:background-color .3s ease-in-out
    }
    #mainNav .navbar-brand{
        padding:.5rem 0;
        color:rgb(10, 10, 10)
    }
    #mainNav .nav-link{
        -webkit-transition:none;
        transition:none;
        padding:2rem 1.5rem;
        color:rgb(3, 3, 3)
    }
    #mainNav .nav-link:hover{
        color:rgb(255, 255, 255)
    }
    #mainNav .nav-link:active{
        color:rgb(10, 10, 10)
    }
    #mainNav.navbar-shrink{
        background-color:rgb(255, 255, 255)
    }
    #mainNav.navbar-shrink .navbar-brand{
        color:#080808
    }
    #mainNav.navbar-shrink .nav-link{
        color:#000000;
        padding:1.5rem 1.5rem 1.25rem;
        border-bottom:.25rem solid transparent
    }
    #mainNav.navbar-shrink .nav-link:hover{
        color:#64a19d
    }
    #mainNav.navbar-shrink .nav-link:active{
        color:#467370
    }
    #mainNav.navbar-shrink .nav-link.active{
        color:#64a19d;
        outline:0;
        border-bottom:.25rem solid #64a19d
    }
}
.masthead{
    position:relative;
    width:100%;
    height:auto;
    min-height:35rem;
    padding:rem 0;
    background:-webkit-gradient(linear,left top,left bottom,from(rgba(22,22,22,.1)),color-stop(75%,rgba(22,22,22,.5)),to(#161616)),url(../images/project\ .jpg);
    background:linear-gradient(to bottom,rgba(22,22,22,.1) 0,rgba(22,22,22,.5) 75%,#161616 100%),url(../images/project\ .jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-size:cover
}
.masthead h1{
    font-family:'Varela Round';
    color: white;
    font-size:2.5rem;
    line-height:2.5rem;
    letter-spacing:.8rem;
    background:-webkit-linear-gradient(rgb(252, 250, 250),rgba(7, 7, 7, 0));
    /* -webkit-text-fill-color:transparent; */
    -webkit-background-clip:text
}
.masthead h2{
    max-width:20rem;
    font-size:1rem
}
@media (min-width:768px){
    .masthead h1{
        color: white;
        font-size:4rem;
        line-height:4rem
    }
}
@media (min-width:992px){
    .masthead{
        color: white;
        height:100vh;
        padding:0
    }
    .masthead h1{
        color: white;
        font-size:6.5rem;
        line-height:6.5rem;
        letter-spacing:.8rem
    }
    .masthead h2{
        color: white;
        max-width:30rem;
        font-size:1.25rem
    }
}

.glyphicon{
    -webkit-transition:none;
    transition:none;
    padding:1rem 0.5rem;
}

.btn{
    -webkit-box-shadow:0 .1875rem .1875rem 0 rgba(253, 253, 253, 0.945)!important;
    box-shadow:0 .1875rem .1875rem 0 rgba(0,0,0,.1)!important;
    padding:1.25rem 2rem;
    font-family:'Varela Round';
    font-size:80%;
    text-transform:uppercase;
    letter-spacing:.15rem;
    border:0
}
.btn-primary{
    background-color:#64a19d
}
.btn-primary:hover{
    background-color:#4f837f
}
.btn-primary:focus{
    background-color:#4f837f;
    color:rgb(8, 8, 8)
}
.btn-primary:active{
    background-color:#467370!important
}
.btnsearch{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    }
.about-section{
    padding-top:10rem;
    background:-webkit-gradient(linear,left top,left bottom,from(#161616),color-stop(75%,rgba(22,22,22,.9)),to(rgba(22,22,22,.8)));
    background:linear-gradient(to bottom,#161616 0,rgba(22,22,22,.9) 75%,rgba(22,22,22,.8) 100%)
}
.about-section p{
    margin-bottom:5rem
}
.projects-section{
    padding:10rem 0
}
.projects-section .featured-text{
    padding:2rem
}
@media (min-width:992px){
    .projects-section .featured-text{
        padding:0 0 0 2rem;
        border-left:.5rem solid #64a19d
    }
}
.projects-section .project-text{
    padding:3rem;
    font-size:90%
}
@media (min-width:992px){
    .projects-section .project-text{
        padding:5rem
    }
    .projects-section .project-text hr{
        border-color:#64a19d;
        border-width:.25rem;
        width:30%
    }
}
.signup-section{
    padding:10rem 0;
    background:-webkit-gradient(linear,left top,left bottom,from(rgba(22,22,22,.1)),color-stop(75%,rgba(22,22,22,.5)),to(#161616)),url(../images/image\ background2.jpg);
    background:linear-gradient(to bottom,rgba(22,22,22,.1) 0,rgba(22,22,22,.5) 75%,#161616 100%),url(../images/image\ background2.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-size:cover
}
.signup-section .form-inline input{
    -webkit-box-shadow:0 .1875rem .1875rem 0 rgba(0,0,0,.1)!important;
    box-shadow:0 .1875rem .1875rem 0 rgba(0,0,0,.1)!important;
    padding:1.25rem 2rem;
    height:auto;
    font-family:'Varela Round';
    font-size:80%;
    text-transform:uppercase;
    letter-spacing:.15rem;
    border:0
}
.contact-section{
    padding:5rem 0 0
}
.contact-section .card{
    border:0;
    border-bottom:.25rem solid #64a19d
}
.contact-section .card h4{
    font-size:.8rem;
    font-family:'Varela Round';
    text-transform:uppercase;
    letter-spacing:.15rem
}
.contact-section .card hr{
    border-color:#64a19d;
    border-width:.25rem;
    width:3rem
}
.contact-section .social{
    margin-top:5rem
}
.contact-section .social a{
    text-align:center;
    height:3rem;
    width:3rem;
    background:rgb(5, 5, 5);
    border-radius:100%;
    line-height:3rem;
    color:rgb(255, 255, 255)
}
.contact-section .social a:hover{
    color:rgb(255, 255, 255)
}
.contact-section .social a:active{
    color:rgb(2, 2, 2)
}
body{
    font-family:Nunito;
    letter-spacing:.0625em
}
a{
    color:#64a19d
}
a:focus,a:hover{
    text-decoration:none;
    color:#3c6360
}
.bg-black{
    background-color:#161616!important
}
.bg-primary{
    background-color:#64a19d!important
}
.text-primary{
    color:#64a19d!important
}

/* Shared */
.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
  }
  .loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }
  .loginBtn:focus {
    outline: none;
  }
  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }
  
  
  /* Facebook */
  .loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
  }
  .loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
  }
  .loginBtn--facebook:hover,
  .loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
  }
  
  
  /* Google */
  .loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
  }
  .loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
  }
  .loginBtn--google:hover,
  .loginBtn--google:focus {
    background: #E74B37;
  }

  /* upload image for seller */
.container{
    margin-top:20px;
}
.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

.icon {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding-bottom: 3px;
    padding-top:3px;
}

/* carousel in product page */


  
footer{
    padding:5rem 0
}

/* JM added */

.masthead-error{
    position:relative;
    width:100%;
    height:auto;
    min-height:40rem;
    padding:rem 0;
    background:-webkit-gradient(linear,left top,left bottom,from(rgba(22,22,22,.1)),color-stop(75%,rgba(22,22,22,.5)),to(#161616)),url(../images/search_error.jpg);
    background:linear-gradient(to bottom,rgba(22,22,22,.1) 0,rgba(22,22,22,.5) 75%,#161616 100%),url(../images/search_error.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-size:cover
}

/* JM: Loader CSS */
.htmlLoader, .uploaderBody {
    background: #fff;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.bar {
    position: relative;
    height: 2px;
    width: 500px;
    display: none;
    margin: 0 auto;
    background: #347fc3;

    margin-top: 300px;
}

.circle {
    position: absolute;
    top: -30px;
    margin-left: -30px;
    height: 40px;
    width: 40px;
    left: 0;
    background: #347fc3;
    border-radius: 30%;
    -webkit-animation: move 5s infinite;
}

.loading {
    position: absolute;
    top: -30px;
    right: -85px;
    /* text-transform: uppercase; */
    color:white;
    font-family: helvetica, sans-serif;
    font-weight: bold;
}

@-webkit-keyframes move {
    0% {left: 0;}
    50% {left: 100%; -webkit-transform: rotate(450deg); width: 150px; height: 150px;}
    75% {left: 100%; -webkit-transform: rotate(450deg); width: 150px; height: 150px;}
    100 {right: 100%;}
} 
