<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/png" href="../static/images/focus-center-lens-capture-camera-31911.png" />


  {% assets "home_css" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/ml_web/static/css/custom.css" rel="stylesheet">

  {% endassets %}





  {% assets "home_js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Plugin JavaScript -->
  <!-- <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="js/homepage.js"></script>
  <script>!function (e) { "use strict"; e('a.js-scroll-trigger[href*="#"]:not([href="#"])').click(function () { if (location.pathname.replace(/^\//, "") == this.pathname.replace(/^\//, "") && location.hostname == this.hostname) { var a = e(this.hash); if ((a = a.length ? a : e("[name=" + this.hash.slice(1) + "]")).length) return e("html, body").animate({ scrollTop: a.offset().top - 70 }, 1e3, "easeInOutExpo"), !1 } }), e(".js-scroll-trigger").click(function () { e(".navbar-collapse").collapse("hide") }), e("body").scrollspy({ target: "#mainNav", offset: 100 }); var a = function () { 100 < e("#mainNav").offset().top ? e("#mainNav").addClass("navbar-shrink") : e("#mainNav").removeClass("navbar-shrink") }; a(), e(window).scroll(a) }(jQuery);</script> -->

  {% endassets %}

  {% block header %}{% endblock %}
  <link rel="icon" type="image/png" href="../static/images/focus-center-lens-capture-camera-31911.png" />
  <title>{% block title %}{% endblock %}</title>
</head>

<body>

  <!-- Navigation -->


  <div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <a class="navbar-brand" href="/">
        <img src="../static/images/focus-center-lens-capture-camera-31911.png" width="30" height="30"
          class="d-inline-block align-top" alt="" />
        SNAPSHOP
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>



        <a class="nav-link" href="/#howitworks">How It Works</a>
        <a class="nav-link" href="/#inspiration">Inspiration</a>
        <a class="nav-link" href="/#faq">FAQ</a>
        <a class="nav-link" href="/#contact">Contact</a>

        <form class="form-inline my-2 my-lg-0" action=/users/search method='POST'>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" /><br>
          <input class="form-control mr-sm-2" type="search" placeholder="Search" />
          <img src="../static/images/search-icon.png" width="35" height="28" alt="">
        </form>

        {% if current_user.seller %}
        <a class="nav-link" href="{{ url_for('sellers.new') }}">Edit Product</a>
        {% else %}
        {% endif %}

        {% if current_user.is_authenticated %}
        <a class="nav-link" href="{{ url_for('sessions.logout') }}">Logout</a>
        {% else %}
        <a class="nav-link" href="{{ url_for('sessions.option') }}">Sign Up</a>
        <a class="nav-link" href="{{ url_for('sessions.login')}}">Login</a>
        {% endif %}
      </div>
    </nav>
  </div>

  {% block content %}
  {% endblock %}

  {% block js %}
  {% endblock %}
</body>

</html>