<!-- For testing purposes - this section to be put into Image Upload template when ready -->

<!-- <h1>Test Image Upload</h1>



<form action="{{url_for('buyers.index')}}" method="POST" enctype="multipart/form-data">

    <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
    <input type="file" name="search_image">
    <button type="submit" class="btn btn-primary">Upload File</button>

</form> -->

{% extends "_layout.html" %}
{% block title %}
Search
{% endblock %}
{% block header %}

{% endblock %}
{% block content %}
<html class="htmlUploader">

</html>

<body class="uploaderBody">

    <div class="container-fluid">
        <div class="container" id="content">
            <h2>Search</h2>

            <form action="{{url_for('buyers.index')}}" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />

                <div>
                    <!-- image-preview-filename input [CUT FROM HERE]-->
                    <div class="input-group image-preview">
                        <input type="text" class="form-control image-preview-filename" disabled="disabled">
                        <!-- don't give a name === doesn't send on POST/GET -->
                        <span class="input-group-btn">
                            <!-- image-preview-clear button -->
                            <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                <span class="glyphicon glyphicon-remove"></span> Clear
                            </button>
                            <!-- image-preview-input -->
                            <div class="btn btn-default image-preview-input">
                                <span class="glyphicon glyphicon-folder-open"></span>
                                <span class="image-preview-input-title">Browse</span>
                                <input type="file" accept="image/png, image/jpeg, image/gif" name="search_image" />
                                <!-- rename it -->
                            </div>
                        </span>
                        <button class="btn btn-primary" type="submit" onclick="loading()">Upload</button>
                    </div><!-- /input-group image-preview [TO HERE]-->
                </div>
        </div>
        </form>
    </div>
    <!-- Loader - bar and circle -->
    <div class="bar">
        <div class="circle"></div>
        <p class="loading">Loading</p>
    </div>


</body>
<script>

    function loading() {
        $("#content").hide();
        $(".bar").show();
    }

    $(document).on('click', '#close-preview', function () {
        $('.image-preview').popover('hide');
        // Hover befor close the preview
        $('.image-preview').hover(
            function () {
                $('.image-preview').popover('show');
            },
            function () {
                $('.image-preview').popover('hide');
            }
        );
    });

    $(function () {
        // Create the close button
        var closebtn = $('<button/>', {
            type: "button",
            text: 'x',
            id: 'close-preview',
            style: 'font-size: initial;',
        });
        closebtn.attr("class", "close pull-right");
        // Set the popover default content
        $('.image-preview').popover({
            trigger: 'manual',
            html: true,
            title: "<strong>Preview</strong>" + $(closebtn)[0].outerHTML,
            content: "There's no image",
            placement: 'bottom'
        });
        // Clear event
        $('.image-preview-clear').click(function () {
            $('.image-preview').attr("data-content", "").popover('hide');
            $('.image-preview-filename').val("");
            $('.image-preview-clear').hide();
            $('.image-preview-input input:file').val("");
            $(".image-preview-input-title").text("Browse");
        });
        // Create the preview image
        $(".image-preview-input input:file").change(function () {
            var img = $('<img/>', {
                id: 'dynamic',
                width: 250,
                height: 200
            });
            var file = this.files[0];
            var reader = new FileReader();
            // Set preview image into the popover data-content
            reader.onload = function (e) {
                $(".image-preview-input-title").text("Change");
                $(".image-preview-clear").show();
                $(".image-preview-filename").val(file.name);
                img.attr('src', e.target.result);
                $(".image-preview").attr("data-content", $(img)[0].outerHTML).popover("show");
            }
            reader.readAsDataURL(file);
        });
    });
</script>
{% endblock %}