{% extends "_layout.html" %}
{% block title %}
buyer
{% endblock %}
{% block header %}

{% endblock %}
{% block content %}

<div class="container" id="product-section" style="margin: 20px">
  <div class="row">
    <div class="col-md-6">
      <img src="../../../../static/images/Special Chair.jpg" alt="Special Chair" class="image-responsive" height="100%"
        width="100%">

    </div>

    <div class="col-md-6">
      <h1>Special Chair</h1>

      <span class="label label-primary">Vintage</span>
      <span class="monospaced">Model No. 1960140180</span>

      <p class="description">
        Classic Chair made from a special kind of wood
        Has a 2&frac14; x 3&frac14; inch image size.
      </p>

      <div class="row">
        <div class="col-md-12 bottom-rule">
          <h2 class="product-price">$129.00</h2>
        </div>
      </div><!-- end row -->

      <div class="row add-to-cart">

        <div class="col-md-6">
          <button class="btn btn-lg btn-brand">
            Buy online
          </button>
        </div>

        <div class="col-md-6">
          <button class="btn btn-lg btn-brand">
            Add to wishlist
          </button>
        </div>
      </div><!-- end row -->

      <div class="row more-product-images" style="margin:10px">
        <img src="../../../../static/images/special_chair1.4.JPG" alt="" height="20%" width="20%" />
        <img src="../../../../static/images/special chair1.1.JPG" alt="" height="20%" width="20%" />
      </div>


    </div>
  </div>
</div>

<div class="container" id="recommended-products" style="border-top: 1px solid lightgrey">
  <div style="margin:10px">
    <h5>Recommended products</h5>
  </div>

  <div>
    <img src="../../../../static/images/special_chair1.4.JPG" alt="" height="20%" width="20%" />
    <img src="../../../../static/images/special chair1.1.JPG" alt="" height="20%" width="20%" />
    <img src="../../../../static/images/special chair1.2.JPG" alt="" height="20%" width="20%" />
    <img src="../../../../static/images/special chair1.3.JPG" alt="" height="20%" width="20%" />
    <img src="../../../../static/images/Special Chair.jpg" alt="" height="20%" width="20%" />
  </div>
</div>










{% endblock %}